.container {
  margin: auto;
  background-color: #fa960d;
  max-width: 800px;
  border-radius: 4px;
}
.postForm {
  width: 98%;
  color: white;
  margin: auto;
  font-weight: bold;
}
.nameAndPrice {
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.postForm input,
.nameAndPrice label {
  padding: 9px 0;
  border-radius: 4px;
}
.postForm input {
  width: 60%;
}

.nameAndPrice input {
  width: 99%;
}

.notesGroup {
  margin: 50px 0;
}
.submitBtnGroup {
  width: 90%;
  margin: auto;
  grid-gap: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.postForm input[type="file"] {
  padding: 10px;
  font-size: 1.2em;
}
.errorSpan {
  width: 90%;
  margin: auto;
  background-color: rgb(28, 28, 254);
  font-size: 1.2em;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  padding: 20px 0;
  display: block;
  font-weight: bolder;
}
