.NavBar {
  display: grid;
  grid-template-areas: "home  search search search search search search dropdown auth";
  /* grid-template-columns: 1fr 6fr 1fr 1fr; */
  list-style-type: none;
  background-color: #fff;
  text-align: center;
  grid-gap: 5px;
}

.NavBar a {
  text-decoration: none;
  color: black;
  padding: 1em;
  display: block;
}

.NavBar a.active {
  background-color: red;
  color: #fff;
  /* font-weight: bold; */
}
.NavBar > .searchGroup {
  grid-area: search;
}
.NavBar > *[id="1"] {
  grid-area: home;
}
.NavBar > *[id="2"] {
  grid-area: dropdown;
}
.NavBar > *[id="3"] {
  grid-area: auth;
}

.NavBar .dropdown {
  position: relative;
  display: block;
}
.NavBar .dropdown a {
  border-bottom: 1px white solid;
}
.dropContent a {
  background-color: #6db324;
  color: white;
}
.dropContent a:hover {
  filter: brightness(120%);
}
.dropContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;

  border-radius: 0 0 4px 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 12px 16px; */
  z-index: 2;
}

.dropdown:hover .dropContent {
  display: block;
}
@media only screen and (max-width: 600px) {
  .NavBar {
    grid-template-areas: "home auth" "search search " "dropdown dropdown";
  }
  .NavBar > div {
    width: 90%;
    margin: auto;
  }

  .dropContent a:active {
    font-weight: bolder;
  }
}
