.btn {
  /* width: 100%; */
  height: 47px;
  border-radius: 4px;
  outline: 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}
.btn:disabled {
  cursor: not-allowed;
  color: #666666;
  background-color: #cccccc;
}
.btn:disabled:hover {
  filter: brightness(100%);
}
.btn:active {
  font-size: 99.5%;
  filter: brightness(105%);
}
button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.primary {
  background-color: #fc2a07;
}
.ginger {
  background-color: #fda60a;
}
.succeed {
  background-color: #7ebd30;
}

.white {
  background-color: #fff;
  color: black;
}
