.modal {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: grey;
  display: grid;
}

.mainImgContainer {
  overflow: hidden;
  margin: auto;
}
.modal img {
  width: 500px;
  /* width: 100%; */
}
/* .modal > img {
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
} */
