.mainArea {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "largePic details details" "gallery details details";
  grid-gap: 10px;
}
.mainArea img:hover {
  cursor: pointer;
}
.lgPic {
  grid-area: largePic;
  position: relative;
}
.lgPic:hover .fadeIn {
  display: block;
  cursor: pointer;
  width: 100%;
}
.lgPic:hover .fadeIn button {
  width: 50%;
}
.lgPic:hover .fadeIn[id="show"] {
  display: block;
  cursor: default;
  /* width: 100%; */
  opacity: 0.9;
}
.lgPic img {
  width: 100%;
  height: auto;
}
.gallery {
  grid-area: gallery;
}
.fadeIn {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  transition: 0.5s ease;
  overflow: hidden;
  background-color: yellow;
}
.fadeIn[id="show"] {
  z-index: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  overflow: hidden;
  background-color: #6db324;
}
.fadeIn p,
.fadeIn label {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.fadeIn button {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  border-radius: 4px;
  transition: 0.8s;
}
@media only screen and (max-width: 600px) {
  .mainArea {
    grid-template-columns: auto;
    grid-template-areas: "largePic" "gallery" "details";
    grid-gap: 20px;
  }
}
