.container {
  grid-template-columns: auto;
  display: grid;
  overflow: visible;
}

.price {
  /* padding-top: 20px; */
  background-color: #ffeee2;

  color: grey;
  color: #f61f0c;
  font-size: 2em;
  font-weight: bold;
}

.price * {
  display: inline-block;
  margin: 20px 0 0 10px;
}
.btnGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.dropdown {
  position: relative;
}
.dropdownContent {
  position: absolute;
  width: 100%;
  display: grid;

  grid-template-columns: 2fr 6fr;
  grid-gap: 10px 0;
  border-radius: 4px;
  display: grid;
  background-color: #fa960d;
}

.dropdownContent small {
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;
}
.dropdownContent small:first-child {
  margin-top: 10px;
  padding: 0px;
}
.dropdownContent p {
  padding: 10px 0;
}
.dropdownContent input {
  color: black;
  margin: 5px 10px 0 0;
  padding: 5px;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-row-gap: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .btnGroup {
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
  }
}
