.container {
  grid-template-columns: auto;
  display: grid;
}

.price {
  /* padding-top: 20px; */
  background-color: #ffeee2;

  color: grey;
  color: #f61f0c;
  font-size: 2em;
  font-weight: bold;
}

.price * {
  display: inline-block;
  margin: 20px 0 0 10px;
}
.btnGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
@media only screen and (max-width: 600px) {
  .container {
    grid-row-gap: 10px;
  }
  .btnGroup {
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
  }
}
