* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.LayoutContainer {
  width: 80%;
  margin: auto;
  margin: 2em auto;
}

@media only screen and (max-width: 600px) {
  .LayoutContainer {
    width: 90%;
  }
}
