.container {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgb(0, 0, 0, 0.9);
  z-index: 1;
  overflow: auto;
  overflow-x: scroll;
}

.container img {
  position: absolute;
  height: auto;
  /* min-width: 50%; */
  max-width: 94%;
  max-height: 80%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
}
